/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box; }

.material-icons {
  font-size: 20px; }

body {
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(135deg, lightseagreen, lightseagreen 40%, blue);
  height: 100vh;
  color: #fff;
  background: #010101; }

.main {
  background: #262626;
  width: 90%;
  margin: 5% auto;
  min-height: 80vh;
  padding-bottom: 5px; }

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0; }
  .header-container h1 {
    text-transform: uppercase;
    margin-bottom: 10px; }
    .header-container h1 span {
      width: 43px;
      height: 44px;
      font-size: 2rem;
      background: none;
      color: gray; }
    .header-container h1 i {
      vertical-align: text-top;
      font-size: 26px; }
  .header-container .sub-title {
    font-variant: small-caps; }
  .header-container h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125em; }
  .header-container span {
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    color: black;
    position: relative;
    text-align: center;
    line-height: 1.5; }

ul {
  margin-bottom: 30px; }
  ul li {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid #fff;
    text-shadow: 1px 1px 1px #262626;
    background: linear-gradient(170deg, cadetblue, #262626); }
  ul li:last-child {
    border-bottom: 1px solid #fff; }

#newItemButton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  #newItemButton button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    background: none;
    border: 2px solid #fff;
    color: white;
    text-transform: uppercase;
    padding-left: 15px; }

form {
  text-align: center;
  margin-bottom: 20px; }
  form input#itemDescription {
    height: 40px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    padding-left: 10px;
    min-width: 230px;
    background: none; }
  form input#itemDescription:focus {
    outline: none; }
  form #add {
    width: 80px;
    height: 40px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    color: black;
    text-transform: uppercase;
    font-weight: 400; }
  form input::-webkit-input-placeholder {
    color: #fff; }

#resetButton {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }
  #resetButton button {
    border: 2px solid tomato;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    color: white;
    background: tomato;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 13px; }
    #resetButton button:focus {
      outline: none; }
    #resetButton button i {
      font-size: 20px; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  padding: 0px 0 10px; }
  footer h2 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1.25em; }
    footer h2 span {
      color: gray; }
  footer .divider {
    width: 75%;
    height: 10px;
    margin-bottom: 15px;
    border-top: 1px solid lightgray; }
  footer p {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 300;
    color: gray; }

.hot {
  background-color: tomato; }

.complete {
  background: linear-gradient(175deg, #6b6b6b, #262626 75%); }

/*# sourceMappingURL=styles.css.map */
