/*
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
*/

body {
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg,lightseagreen, lightseagreen 40%, blue);
    height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
